body {
    font-family: 'Roboto', sans-serif;
}

/* NavBar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-btn {
    border: 0;
    width: 100px;
    border-radius: 16px;
    background-color: #5db85a;
    color: white;
}



/* Button */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: #5db85b;
    border-color: #5db85b;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:hover {
    background-color: #488c46;
    border-color: #488c46;
    color: #e6e6e6;
}

.btn-default:hover {
    color: #e6e6e6;
    background-color: #4c9649;
    border-color: #4c9548;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.quotes .page-header {
    margin: 40px;
}

.page-header h2 {
    margin-top: 0;
}

/* Containers */

.container-wrapper {
    
}

.container-wrapper--grey {
    background-color: #a9a9a9;}

/* Alert */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert{
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    color: #928640;
    background-color: #ffe974;
    border-color: #ffe973;
}

/* Callout */

.callout-container {
    height: 100vh;


    background: url("../images/Whiskey Picture.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #5db85b;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Quotes */

.quote {
    border-left: 0;
}



.features-container {}

.features {
    text-align: center;
    margin-bottom: ;
}

.features .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.features .btn {
    background-color: white;
    border-color: white;
    min-width: 100px;
    font-weight: bold;
    color: #5db85b;
    margin-top: 10px;
    
}

.monthlyfavorites-container {}




/* block dividers */

.block-divider-1 {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #5db85b;
}

.block-divider-2 {
    width: 100px;
    height: 5px;
    border: 0;
    background-color: #444;
}


.block-divider--green {
    background-color: #5db85b;
}

.block-divider--short {
    width: 45px;
}


.text-muted {
    color: #fff;
}

.mark,
mark {
    padding: .2em;
    background-color: #ffffff;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}





